{% extends 'admin.base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include 'inc/flash.message.html.twig' %}
        <!-- Page Heading -->
        <div class="col d-inline-flex justify-content-between">
            <h1 class="h3 mb-2 text-gray-800">Oeuvres</h1>
            <p class="text-right">
                <a href="{{ url('admin.artwork.form') }}" class="btn btn-primary">Ajouter</a>
            </p>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des oeuvres</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Catégories</th>
                            <th>..</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Catégories</th>
                            <th>..</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.name }}</td>
                                <td>{{ result.description    }}</td>
                                <td>
                                    <img src="{{ result.image }}" class="w-25" alt="">
                                    <img src="{{ asset('img/artwork/' ~ result.image) }}" class="w-25" alt="">
                                </td>
                                <td>
                                    {# afficher les catégories #}
                                    <ul class="list-group">
                                        {% for category in result.categories %}
                                            <li class="list-group-item">{{ category.name | capitalize }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a href="{{ url('admin.artwork.form.update', { id: result.id } ) }}"
                                       class="btn btn-warning btn-circle mb-2"><i class="fas fa-edit"></i></a>
                                    <a href="{{ url('admin.artwork.remove', { id: result.id }) }}"
                                       class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}










